@import url('https://fonts.googleapis.com/css?family=Heebo|Nunito:900&display=swap');

html,
body,
h1 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	text-align: center;
	color: #fef6fb;
	font-family: 'Nunito', sans-serif;

	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.2);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.centered {
	flex: 2 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	/* ettol lesz kozepen */
	align-self: center;
}

.right {
	order: -1;
	/* display: flex;
	align-items: flex-start;
	justify-content: center; */

	align-self: flex-end;
}

.weather > h2,
.weather > h3 {
	padding: 0;
	margin-top: 0.5rem;
	margin-bottom: 0;
}

.weather {
	padding-right: 1rem;
}

.quote {
	font-family: 'Heebo', sans-serif;
	font-weight: 400;
}

.loading {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 7rem;
	font-weight: bolder;
}

h2 {
	font-size: 3rem;
	font-weight: 800;
}

h3 {
	font-size: 1.5rem;
	font-weight: 500;
}

/* TODO
loading screen
bg images for all time of the day
try maybe onKeyPress (event.key == enter) on Username*/
